<script setup lang="ts">
import AppNavigation from "@/components/layout/AppNavigation.vue";
</script>

<template>
  <v-app>
    <v-main class="d-flex flex-column">
      <router-view v-slot="{ Component }">
        <v-scroll-x-transition>
          <component :is="Component" />
        </v-scroll-x-transition>
      </router-view>
    </v-main>
  </v-app>
</template>
