<script lang="ts" setup>
import {useDisplay} from "vuetify";

const { smAndDown } = useDisplay();
</script>

<template>
  <v-container :fluid="smAndDown" :class="smAndDown && 'pa-0'">
    <v-card :flat="true" class="bg-gradient-primary py-16 mx-0 mx-md-8 mx-lg-16" :rounded="smAndDown ? '0' : 'xl'">
      <v-card-text class="mx-0 mx-md-2 mx-lg-16">
        <h2 class="text-h3 text-md-h2 font-weight-medium text-center">
          Welcome to the Accounts App
        </h2>
        <p class="text-body-1 text-grey-lighten-2 text-center my-4 px-md-16">
          Accounts is part of the ITProaser platform, bringing you access to manage your account, company and users.
        </p>
      </v-card-text>
      <v-card-actions class="d-flex justify-center mx-2">
        <v-btn
          variant="elevated" :block="smAndDown" size="large"
          class="px-6" to="/login" rounded="lg"
        >
          Get started
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-container>
</template>

<style scoped>
.bg-gradient-primary {
  background: linear-gradient(26.5deg, #53389E, #9E77ED);
}
</style>
