<script lang="ts" setup>
import {ref} from "vue";

const showPassword = ref<boolean>(false);
</script>

<template>
  <v-container class="d-flex flex-grow-1 justify-center" :fluid="true">
    <v-card
      class="my-12" :flat="true" color="transparent"
      :min-width="360"
    >
      <v-card-text class="text-center">
        <div class="d-flex justify-center align-center">
          <v-img src="/apple-touch-icon-60x60.png" :width="60" :height="60" />
        </div>
        <h4 class="text-h4 my-2">
          Log in to your account
        </h4>
        <span class="text-body-1 text-grey">
          Welcome back! Please enter your details.
        </span>
      </v-card-text>
      <v-card-text class="mt-4">
        <v-text-field
          name="Email" type="email" placeholder="Enter your email"
          variant="outlined" label="Email" :persistent-placeholder="true"
        />
        <v-text-field
            name="Password" :type="showPassword ? 'text' : 'password'" placeholder="Enter your password"
            :append-inner-icon="showPassword ? 'mdi-eye-off' : 'mdi-eye'" :persistent-placeholder="true" class="mt-4"
            @click:append-inner="showPassword = !showPassword" variant="outlined" label="Password"
        />
      </v-card-text>
      <v-card-actions class="mx-2 d-flex flex-column">
        <v-btn
          variant="elevated" :block="true" size="large"
          rounded="lg"
        >
          Sign In
        </v-btn>
        <span class="mt-8">
          Don't have an account? <router-link to="/signup" class="text-decoration-none text-primary">Sign up</router-link>
        </span>
      </v-card-actions>
    </v-card>
  </v-container>
</template>

<style scoped>

</style>
