<script lang="ts" setup>
</script>

<template>
  <v-container class="d-flex flex-grow-1 justify-center" :fluid="true">
    <v-card
      class="my-12" :flat="true" color="transparent"
      :min-width="360"
    >
      <v-card-text class="text-center">
        <div class="d-flex justify-center align-center">
          <v-img src="/apple-touch-icon-60x60.png" :width="60" :height="60" />
        </div>
        <h4 class="text-h4 my-2">
          Create an account
        </h4>
        <span class="text-body-1 text-grey">
          Start your 30-day free trial.
        </span>
      </v-card-text>
      <v-card-text class="mt-4">
        <v-text-field
          name="Email" type="email" placeholder="Enter your email"
          variant="outlined" label="Email" :persistent-placeholder="true"
        />
      </v-card-text>
      <v-card-actions class="mx-2 d-flex flex-column">
        <v-btn
          variant="elevated" :block="true" size="large"
          rounded="lg"
        >
          Get Started
        </v-btn>
        <span class="mt-8">
          Already have an account? <router-link to="/login" class="text-decoration-none text-primary">Log in</router-link>
        </span>
      </v-card-actions>
    </v-card>
  </v-container>
</template>

<style scoped>

</style>
