<script lang="ts" setup>
import {ref} from "vue";
import {useDisplay} from "vuetify";

const nav = ref<boolean>(false);
const { mobile } = useDisplay();
</script>

<template>
  <v-navigation-drawer v-model="nav" />

  <v-app-bar elevation="0">
    <v-app-bar-nav-icon :icon="nav ? 'mdi-menu-open' : 'mdi-menu'" @click="nav = !nav" />
    <v-app-bar-title>
      <div class="d-flex flex-row align-center justify-start">
        <v-img src="/favicon-32x32.png" :height="32" :width="32" :max-width="32" />
        <span class="mx-2">Accounts</span>
        <v-btn v-if="!mobile" to="/" class="ml-2">
          Home
        </v-btn>
        <v-btn v-if="!mobile" to="/about" class="ml-1">
          About
        </v-btn>
      </div>
    </v-app-bar-title>
    <v-btn class="mr-2" to="/login">
      Log In
    </v-btn>
    <v-btn variant="flat" to="/signup">
      Sign Up
    </v-btn>
  </v-app-bar>
</template>

<style scoped>

</style>
